.bselect{
	display: inline-block;
    font-family: sans-serif;
    position: relative;
}
.bselect-input{
	display:none;
}
.bselect-active{
	cursor:pointer;
	background:#fff;
	color: #464646;
    display: inline-flex;
    width: 100%;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
    line-height: 2.4em;
    /*text-indent: 10px;
    padding-left:10px;*/
    position:relative;
    display:inline-block;
}
.bselect-item{
	display:inline-flex;
	width:100%;
}
.bselect-item .bselect-remove{
	display:none;
}
.bselect-item.bselect-disabled .bselect-remove{
	display:block;
	color:#000;
}
.bselect-disabled{
	color:#ababab;
}
.bselect-remove{
	display: inline-flex;
	padding-right: 5px;
	padding-left: 5px;
}
.bselect-default-text{
	padding-left:10px;
}
.bselect-multiple-item{
	display: inline-flex;
    border: 1px solid #dedede;
    margin: 2px;
    padding-right: 10px;
    border-radius: 3px;
    padding-left: 10px;
}
.bselect-active.elipsis{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bselect-active:after{
	position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #4a4a4a transparent transparent
}
.bselect-search{
	
}
.bselect-content{
	visibility:hidden;
	    
    background: #fff;
    border: 1px solid #dedede;
    position: absolute;
    z-index: 9;
}
.bselect-list{
	max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    
}
.bselect-list li{
	cursor:pointer;
	font-size: 13px;
	padding-top: 3px;
    padding-bottom: 3px;
	padding-left: 10px;
    line-height: 2em;
	
}
.bselect-list li.elipsis{
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bselect-list li:hover{
	background:#dedede;
}
.bselect-search{
    width: 98%;
    margin: 0px auto;
    margin-top: 1%;
}
.bselect-search input{
	border: 0px;
    border-radius: 0px;
    height: 30px;
    border: 1px solid #dedede;
    margin-bottom: 2%;
    width: 100%;
    text-indent: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.bselect-search input:focus{

    outline: 0;
    border: 1px solid #0be;

}
.bselect-list li.hide-item{
	display:none;


}
.bselect-no-results{
	    text-align: center;
    padding: 20px;
    height: 100%;
    font-size: 13px;
}

.bselect-selected-count {
    background-color: rgb(230, 230, 230);
    border-radius: 2px;
    display: inline-flex;
    margin: 2px;
    min-width: 0px;
    box-sizing: border-box;
}

.bselect-selected-items {
    border-radius: 2px;
    color: rgb(51, 51, 51);
    overflow: hidden;
    padding: 1px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.bselect-selected-empty {
    -moz-box-align: center;
    align-items: center;
    border-radius: 2px;
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
}

.bselect-selected-empty svg {
    display: inline-block;
    fill: currentcolor;
    line-height: 1;
    stroke: currentcolor;
    stroke-width: 0px;
}

.bselect-selected-empty:hover {
    background-color: #fee2e1;
}